.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

#flash-messages {
    position: fixed; 
    bottom: 30px; 
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    width: 90%;
    max-width: 600px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #dfeacd;
    color: #333;
}
