{% extends 'base.html' %}
{% block content %}
    <div class="container mt-5">
        <div class="card shadow p-4">
            <div class="row">
                <!-- General Information -->
                <div class="col-md-6">
                    <h3>General Information</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td>{{ user.phone_no or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>Age</th>
                                <td>{{ user.age or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td>{{ user.gender or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>Role</th>
                                <td>{{ user.role }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
    
                <!-- Address Details -->
                <div class="col-md-6">
                    <h3>Address</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            {% if address %}
                            <tr>
                                <th>Street</th>
                                <td>{{ address.street or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>City</th>
                                <td>{{ address.city or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>State</th>
                                <td>{{ address.state or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>Postal Code</th>
                                <td>{{ address.postal_code or 'N/A' }}</td>
                            </tr>
                            <tr>
                                <th>Country</th>
                                <td>{{ address.country or 'N/A' }}</td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="2" class="text-center">No address information available.</td>
                            </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            <hr>
    
            <!-- Role-Specific Information -->
            <div class="row">
                <div class="col-md-12">
                    {% if user.role == 'Professor' %}
                    <h3>Professor Details</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Professor ID</th>
                                <td>{{ role_data.professor.profID }}</td>
                            </tr>
                            <tr>
                                <th>Department</th>
                                <td>{{ role_data.professor.department.name }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% elif user.role == 'Student' %}
                    <h3>Student Details</h3>
                    <table class="table table-bordered table-striped">
                        <tbody>
                            <tr>
                                <th>Student ID</th>
                                <td>{{ role_data.student.studID }}</td>
                            </tr>
                            <tr>
                                <th>Enrolled Courses</th>
                                <td>{{ role_data.student.courses }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
    
            <!-- Profile Actions -->
            <div class="row">
                <div class="col-md-6 mt-2">
                    <a href="{{ url_for('main.edit_profile') }}" class="btn btn-primary w-100">Edit Profile</a>
                </div>
                <div class="col-md-6 mt-2">
                    <a href="{{ url_for('main.logout') }}" class="btn btn-danger w-100">Logout</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}